@media (min-width: 1200px) {
	#main-logo {
		height: 45px;
	}

	body > footer {
		display: none;
	}
	#sidebar {
		height: 100%;
		width: 400px;
		visibility: visible;
	}

	#kaart {
		margin-left: 400px;
		visibility: visible;
	}
	#kaart.hidden {
		visibility: visible;
	}
}